[submodule "terms"]
	path = terms
	url = https://github.com/ajay-o-s/terms
[submodule "static-assets"]
	path = static-assets
	url = https://github.com/ajay-o-s/static-assets
[submodule "privacy-policy"]
	path = privacy-policy
	url = https://github.com/ajay-o-s/privacy-policy
